@charset "UTF-8";

:root {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(92, 18, 45);
    font-size: 1.6rem;
}

main {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 85vw;
    height: 80vh;
    border-radius: 2rem;
    box-shadow: 6px 12px 24px rgba(0, 0, 0, .3);
}

main section {
    padding: 4rem;
    flex: 1;
    font-family: Arial, Helvetica, sans-serif;
}

main section h1 {
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 2rem;
    font-variant: small-caps;
    letter-spacing: .5rem;
}
main section p {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 3rem;
}

/* INPUT EMAIL */
#input-container-01 {
    background-color: rgb(144, 33, 74);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 4.5rem;
    border-radius: 999rem;
    margin-bottom: 1rem;
}
#user-icon {
    color: whitesmoke;
    font-size: 3.5rem;
    line-height: 0px;
    padding-left: .4rem;
}
#input-container-01 input {
    font-family: monospace;
    font-size: 1.6rem;
    color: black;
    border: none;
    margin: .3rem;
    height: 87%;
    border-radius: 999rem;
    padding-left: 2rem;
    width: 100%;
    background-color: whitesmoke;
}
#input-container-01 input::placeholder {
    color: black;
    letter-spacing: .1rem;
    font-size: 1.6rem;
    line-height: 0;
}

/* INPUT SEHA */
#input-container-02 {
    background-color: rgb(144, 33, 74);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 4.5rem;
    border-radius: 999rem;
    margin-bottom: 1rem;
}
#password-icon {
    color: whitesmoke;
    font-size: 3rem;
    line-height: 0px;
    padding-left: .6rem;
    padding-right: .2rem;
}
#input-container-02 input {
    color: black;
    font-family: monospace;
    font-size: 1.6rem;
    background-color: whitesmoke;
    border: none;
    margin: .3rem;
    height: 85%;
    border-radius: 999rem;
    padding-left: 2rem;
    width: 100%;
}
#input-container-02 input::placeholder {
    color: black;
    letter-spacing: .1rem;
    font-size: 1.6rem;
    line-height: 0;
}

#button-submit {
    display: block;
    width: 100%;
    height: 4.5rem;
    border-radius: 999rem;
    border: none;
    background-color: rgb(88, 42, 64);
    color: white;
    letter-spacing: .2rem;
    font-size: 1.5rem;
    margin-bottom: .5em;
    cursor: pointer;
    transition-property: all;
    transition-duration: .2s;
}
#button-submit:hover {
    background-color: rgb(144, 33, 74);
}
#button-forgot-password {
    display: block;
    width: 100%;
    height: 4.5rem;
    border-radius: 999rem;
    border: none;
    background-color: rgb(100, 50, 74);
    color: white;
    letter-spacing: .2rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-property: all;
    transition-duration: .2s;
}
#button-forgot-password:hover {
    background-color: rgb(144, 33, 74);
}
#email-icon {
    padding-left: 1rem;
    font-size: 2rem;
}

main aside {
    background-image: url(../source/bg.JPG);
    flex: 1;
    border-radius: 0 0  2rem 2rem;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
}

